{% extends 'layout.html' %}
{% block body %}
<!doctype html>
<head>
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body>
  <img src="static/images/HotCan.jpg" width="100%" height="500">
  <br>
  <br>
  <div class="container newbox">
    <p class="display-4" style="color: black;"><b>Hotel Cancellations</b></p>
    <p class="h6 lead" style="color: black;"> Hotels are vulnerable to demand and cancellation uncertainty (Chen et al., 2011). 
        This can lead to sudden increases and decreases in pickup which is why hotel revenue managers -within the context of regular booking patterns 
        -tend to closely monitor the booking pace at both total and segmented level. 
   </p>
   <br>
    <p class="h6 lead" style="color: black;">  Hotel CancPols are an integral component of the purchase decision (Chen, Schwartz, & Vargas, 2011), however, there is no single standard policy for all hotels.
        A deeper understanding of the effect of these various policies would benefit both the hotel industry and academic literature.
    </p>
    <br>
    <p class="h6 lead" style="color: black;"> Based on 240,000 booking records, Morales and Wang (2010) find that several guest-, booking-and room-specific characteristics are relevant in forecasting cancellation rates. 
        Antonio, de Almeida, and Nunes (2017) show that booking channel, arrival month, room type, booking lead time, and country of origin are the most important predictors.
    </p>
    <br>
    <p class="display-4" style="color: black;"><b>The Project</b></p>
    <p class="h6 lead" style="color: black;"> The aim of this research project is to predict whether a guest of Resort and City Hotel in Portugal will cancel 
        the booking and identify the variables that influence this activity. 
        This project has the potential to inform cancellation policy, cost efficiency, and revenue maximization efforts relating to hotels in Portugal.
  </div>
  <br>
  
</body>
</html>
    
    
{% endblock body %}