{% extends 'layout.html'%}

{% block body%}
    <div class="row">

        <div class="col-md-6">
            <h4>Top Hotel</h4>
            <div class="chart mt-1" id="dist-type5">
            </div>
            <img src='static\images\tophotel.png'>
        </div>

        <div class="col-md-6">
            <h4>Count of Cancellations</h4>
            <div class="chart mt-1" id="dist-type1">
                <img src='static\images\countOfCancellation.png'>
            </div>

        <div class="col-md-6">
            <h4>Arrival Time</h4>
            <div class="chart mt-1" id="dist-type2">
                <img src='static\images\arrivalTime.png'>
            </div>
        </div>

        <div class="col-md-6">
            <h4>Market Segment by Cancellation</h4>
            <div class="chart mt-1" id="dist-type3">
            </div>
            <img src='static\images\marketSegmentbyCancellations.png'>
        </div>

        <div class="col-md-6">
            <h4>Deposit Type by Cancellation</h4>
            <div class="chart mt-1" id="dist-type4">
            </div>
            <img src='static\images\depositTypeofCancellations.png'>
        </div>
    
{% endblock body%}